$primary-color: #997950;
$secondary-color: #5c2c06;
$blue: #071250;
$light-pink: #D9D9F3;
$gray: #86827f;
$white: #ffffff;
$black: #000000;
$midnightblue: #000033;
$lightgray: #a9a9a9;
$lightyellow: #fff5d7;
