#food{
 
  background-color: lighten($primary-color, 50);

  @include mq(30em){
    padding: 25px 6px;
    margin-bottom: -28px;
  }

  .meter{
    padding: 5px;

    @include mq(30em){
     padding: 10px;
      }
  }

.equip{
  display: grid;
  grid-gap: 10px;
 

  @include mq(30em){
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 1fr;
  }

  .equipo{
  margin: 0 auto;
    
  .divmg{
    width: 100%;
    margin-left: 25px;

    @include mq(30em){
    width: 75%;
     margin: 0 auto;
    }

    .pol, .pole, .ply{
      width: 75%;
      border-radius: 50%;
  
      &:after{
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
   
  }

}
  

  

    
  }

}