#wedd{
  @include container;
  padding: 0;
  padding-top: 2.2rem;
  height: auto;
  background-color: lighten($primary-color, 50);

  @include mq(30em){
    padding-top: 1.5rem;
    margin-top: -1.5rem;
  }
  img{
    width: 100%;
   }

   h1{
    text-align: center;
    color: $primary-color;
    mix-blend-mode: darken;
    font-family: $ff-ss;
    font-size: 1.4rem;

    @include mq(30em){
     font-size: 2rem;
   }
   }


.main-wed{
  padding: 10px;
  margin: 0;
 

  .wed{
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    "wed1"
    "wed2";

    @include mq(30em){
      grid-template-areas:
      "wed1 wed1 wed1 wed2 wed2 wed2";
      grid-template-columns: repeat(6, 1fr);
    }


    .wed-1{
      grid-area: wed1;
    }
    .wed-2{
      grid-area: wed2;
    }
  }
  }
}